.teams {
    margin: auto;
   display: flex;
   flex-direction: row;
 }
 .card {
    margin: 5px;
 }
 .ahihi{
   text-align: center;
   color: black;
   text-decoration: none
 }
 
 .ahihi:hover {
   color: red;
   text-decoration : underline ;
 }
 .img {
   transition: transform 0.8s;
   
 }
 .img:hover {
   transform: scale(1.05); 
 }

 *{
    margin:0;
    padding: 0;
    border: 0; 
}
body{
    background-color: #f5f5f5;
}
.main-container{
    width: 930px;
    background-color: white;
    height: 720px;
    margin: auto;
    margin-top: 50px;
}
.main-new{
    background-color: white;
    overflow: hidden;
}
.block{
    height: 140px;
    margin: 40px;
    background-color: white;
    overflow: hidden;
    border: 2px rgba(242,242,242,10) solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.img-news{
  float:right;
  height: 100px;
  margin-top :20px;
  margin-right:20px
}
.text {
  color: black;
  margin :10px;
  font-size: 20px;
}
.small-text{
  margin: 10px;
}
.smaller-text {
  font-size: 12px;
}


